{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table table-striped table-bordered" style="width: 80%; margin: auto;">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Buy / Sell</th>
                <th>Unit price</th>
                <th>Cash changes</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows%}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.shares }}</td>
                <td>$ {{ row.unit_price }}</td>
                <td>
                    {% if row.total_price < 0 %}
                    - ${{ -row.total_price }}
                    {% else %}
                    + ${{ row.total_price }}
                    {% endif %}
                </td>
                <td>{{ row.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
