{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="row">Symbol</th>
                <th scope="row">Buy / Sell</th>
                <th scope="row">Unit price</th>
                <th scope="row">Cashflow</th>
                <th scope="row">Date</th>
            </tr>
        </thead>
        {% for row in rows%}
        <tbody>
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.shares }}</td>
                <td>{{ row.unit_price }}</td>
                <td>{{ row.total_price }}</td>
                <td>{{ row.created_at }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}
