{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
    <p>Hello, you're logged in as {{ userinfo.username }}.
        <!-- {% if transaction == None %}
            You don't have any recent transactions.
        {% else %}
            You just

            {% if transaction.buy_or_sell == "buy" %}
            bought
            {% else %}
            sold
            {% endif %}

            {% if transaction.shares < 0 %}
                {{ -transaction.shares }}
                {% else %}
                {{ transaction.shares }}
            {% endif %}

            {{ transaction.symbol }}
            for
            {{ transaction.total_price | usd }}.
        {% endif %} -->
    </p>
    <div>
        <h4>Your assets:</h4>
        <table class="table table-bordered" style="width: 40%; margin: auto;">
            <thead>
                <th>Symbo</th>
                <th>Shares</th>
                <th>Market value</th>
            </thead>
            <tbody>
                {% for asset in balance %}
                <tr>
                    <td>{{ asset.symbol }}</td>
                    <td>{{ asset.balance }}</td>
                    <td>$ {{ asset.current_value }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <thead>
                <tr>
                    <th colspan="2">Total stock value:</th>
                    <td>{{ total_stock_value | usd }}</d>
                </tr>
                <tr>
                    <th colspan="2">Total cash:</th>
                    <td>{{ userinfo.cash | usd }}</d>
                </tr>
                <tr class="table-info">
                    <th colspan="2">Total asset value:</th>
                    <td>$ {{ userinfo.cash + total_stock_value }}</d>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}