<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>

    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">
                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form id="form" method="post" action="">
                    <label for="name">
                        Name
                        <input type="text" name="name" id="name"/>
                    </label>
                    <label for="month">Month
                        <select name="month" id="month">
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                    </label>
                    <label for="day">
                        Day
                        <input type="number" name="day" id="day" max="31" min="1"/>
                    </label>
                    <input class="btn-submit" type="submit" value="Submit"/>
                </form>
            </div>
            <div class="section">
                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for entry in entries %}
                            <tr>
                                <td>
                                    {{ entry.name }}
                                </td>
                                <td>
                                    {{ entry.month }} / {{ entry.day }}
                                </td>
                                <td>
                                    <form action="/" method="delete">
                                        <input class="btn-submit" type="submit" value="Remove"/>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>