{% extends "layout.html" %}

{% block body %}
    <form action="/register" method="post">
        <input autocomplate="off" autofocus name="name" placeholder="your name" type="text">
        <select>
            <option disabled selected>Choose Sport</option>
            <option value="Basketball">Basketball</option>
            <option value="Soccer">Soccer</option>
            <option value="Ultimate Frisbee">Ultimate Frisbee</option>
        </select>
        <button type="submit">Register</button>
    </form>
{% endblock%}